# Ignore everything
*

# Allow files and directories
!/packages/api
!/packages/shared
!/packages/db
!/packages/clickhouse
!/packages/client-proxy
!/packages/docker-reverse-proxy
!/packages/orchestrator
!go.work
!go.work.sum

/packages/api/bin
/packages/api/README.md
/packages/api/.gitignore
/packages/api/Dockerfile
/packages/api/main.tf
/packages/api/variables.tf

/.dockerfile
/Dockerfile
