# ------------------------------------------- Required block -----------------------------------------------------------
# These variables are required and don't have default values
# You must provide values for these to run the deployment successfully

TERRAFORM_ENVIRONMENT=dev

AWS_PROFILE=
AWS_ACCOUNT_ID=
AWS_REGION=

# your domain or subdomain name, eg great-innovations.dev, e2b.great-innovations.dev
DOMAIN_NAME=

# ------------------------------------------- Required with defaults ---------------------------------------------------
# These variables need to be specified but have default values

PROVIDER=aws
# prefix identifier for all resources
PREFIX=e2b-

# prod, staging, dev
TERRAFORM_ENVIRONMENT=dev
