.terraform
.idea
.DS_Store
.env*
!.env.template
.last_used_env
.tfplan.*
*.tfvars
terraform.tfstate
terraform.tfstate.backup
**/.tfplan.*
tests/periodic-test/build-template/e2b.toml
.air
go.work.sum
.infisical.json
.vscode/mise-tools
/packages/fc-kernels
