go 1.24.3

toolchain go1.24.3

use (
	./packages/api
	./packages/client-proxy
	./packages/db
	./packages/docker-reverse-proxy
	./packages/envd
	./packages/orchestrator
	./packages/shared

	./tests/integration
)
