go 1.25.4

use (
	./packages/api
	./packages/clickhouse
	./packages/client-proxy
	./packages/db
	./packages/docker-reverse-proxy
	./packages/envd
	./packages/local-dev
	./packages/nomad-nodepool-apm
	./packages/orchestrator
	./packages/shared

	./tests/integration
)
