go 1.23

use (
	./packages/api
	./packages/client-proxy
	./packages/docker-reverse-proxy
	./packages/envd
	./packages/orchestrator
	./packages/shared
	./packages/template-manager

	./packages/integration-tests
)
