receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:${otel_collector_grpc_port}
processors:
  batch:
exporters:
  debug:
    verbosity: basic
service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug]