receivers:
  prometheus:
    config:
      scrape_configs:
        - job_name: nomad-servers
          metrics_path: /v1/metrics
          params:
            format: [prometheus]
          scrape_interval: 15s

          consul_sd_configs:
            - server: consul.service.consul:8500
              services: ["nomad"]   # your Consul service name for servers

          relabel_configs:
            # Prefer the service address if present; force Nomad HTTP port
            - source_labels: [__meta_consul_service_address]
              regex: (.+)
              target_label: __address__
              replacement: $1:4646

processors:
  filter/nomad_metrics:
    metrics:
      include:
        match_type: regexp
        metric_names:
          # Runtime
          - nomad_runtime_alloc_bytes
          - nomad_runtime_heap_objects
          - nomad_runtime_num_goroutines

          # Broker gauges
          - nomad_nomad_broker_total_pending
          - nomad_nomad_broker_total_ready
          - nomad_nomad_broker_total_unacked

          # Heartbeat
          - nomad_nomad_heartbeat_active

          # Plan / scheduler
          - nomad_nomad_plan_evaluate.*
          - nomad_nomad_plan_node_rejected
          - nomad_nomad_plan_queue_depth
          - nomad_nomad_plan_submit.*

          # RPC
          - nomad_nomad_rpc_query
          - nomad_nomad_rpc_request

          # Gossip
          - nomad_memberlist_gossip

          # Raft
          - nomad_raft_leader_lastContact
          - nomad_raft_state_candidate.*
          - nomad_raft_state_leader.*
          - nomad_raft_appliedIndex
          - nomad_raft_fsm_apply
          - nomad_raft_leader_dispatchLog.*
          - nomad_raft_leader_dispatchNumLogs
  batch:
    timeout: 5s


  resourcedetection:
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/resourcedetectionprocessor
    detectors: [gcp]
    override: true
    gcp:
      resource_attributes:
        cloud.provider:
          enabled: false
        cloud.platform:
          enabled: false
        cloud.account.id:
          enabled: true
        cloud.availability_zone:
          enabled: false
        cloud.region:
          enabled: false
        host.type:
          enabled: false
        host.id:
          enabled: false
        host.name:
          enabled: false
        gcp.gce.instance.name:
          enabled: false
        gcp.gce.instance_group_manager.region:
          enabled: false
        gcp.gce.instance_group_manager.zone:
          enabled: false
        gcp.gce.instance_group_manager.name:
          enabled: false

  transform/set-name:
    metric_statements:
      - set(datapoint.attributes["deployment.environment"], resource.attributes["cloud.account.id"])
      - delete_key(resource.attributes, "service.name")

extensions:
  basicauth/grafana_cloud:
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/basicauthextension
    client_auth:
      username: "${grafana_username}"
      password: "${grafana_otel_collector_token}"

  health_check:
    endpoint: 0.0.0.0:13134
exporters:
  otlphttp/grafana_cloud:
    # https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlpexporter
    endpoint: "${grafana_otlp_url}/otlp"
    auth:
      authenticator: basicauth/grafana_cloud
service:
  telemetry:
    metrics:
      level: none
  extensions:
    - basicauth/grafana_cloud
    - health_check
  pipelines:
    metrics/prometheus:
      receivers:
        - prometheus
      processors:
        - filter/nomad_metrics
        - resourcedetection
        - transform/set-name
        - batch
      exporters:
        - otlphttp/grafana_cloud
