receivers:
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
        max_recv_msg_size_mib: 100
        read_buffer_size: 10943040
        max_concurrent_streams: 200
        write_buffer_size: 10943040

  prometheus:
    config:
      scrape_configs:
        - job_name: nomad
          scrape_interval: 15s
          scrape_timeout: 5s
          metrics_path: "/v1/metrics"
          static_configs:
            - targets: ["localhost:4646"]
          params:
            format: ["prometheus"]

  hostmetrics:
    root_path: /hostfs
    collection_interval: 30s

    # all scrapers are added explicitly, so we can be clear
    # about which metrics we've chosen to include/exclude.
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/main/receiver/hostmetricsreceiver/README.md
    scrapers:
      cpu:
        metrics:
          system.cpu.time: # counter of seconds spent
            enabled: true
          system.cpu.frequency:
            enabled: false
          system.cpu.logical.count:
            enabled: true
          system.cpu.physical.count:
            enabled: true
          system.cpu.utilization: # percentage utilized in the moment
            enabled: true

      # entirely disabled, so we omit the module
      #disk:
      #  metrics:
      #    system.disk.io:
      #      enabled: false
      #    system.disk.io_time:
      #      enabled: false
      #    system.disk.merged:
      #      enabled: false
      #    system.disk.operation_time:
      #      enabled: false
      #    system.disk.operations:
      #      enabled: false
      #    system.disk.pending_operations:
      #      enabled: false
      #    system.disk.weighted_io_time:
      #      enabled: false

      load:
        metrics:
          system.cpu.load_average.15m:
            enabled: true
          system.cpu.load_average.1m:
            enabled: true
          system.cpu.load_average.5m:
            enabled: true

      filesystem:
        include_virtual_filesystems: false
        exclude_devices:
          devices:
            - "^/dev/loop.*$"
          match_type: regexp
        metrics:
          system.filesystem.inodes.usage:
            enabled: true
          system.filesystem.usage:
            enabled: true
          system.filesystem.utilization:
            enabled: true

      # Scraping only total memory (memory limit) and available memory to reduce cardinality
      memory:
        metrics:
          system.memory.usage:
            enabled: true
          system.linux.memory.available: # free memory
            enabled: true
          system.linux.memory.dirty: # data waiting to be written to disk
            enabled: true
          system.memory.limit: # total memory
            enabled: true
          system.memory.page_size:
            enabled: false
          system.memory.utilization:
            enabled: true

          # Huge pages metrics added as part of temporal patch
          # https://github.com/e2b-dev/opentelemetry-collector-contrib/pull/1
          system.linux.memory.huge_pages.free:
            enabled: true
          system.linux.memory.huge_pages.page_size:
            enabled: true
          system.linux.memory.huge_pages.reserved:
            enabled: true
          system.linux.memory.huge_pages.surplus:
            enabled: true
          system.linux.memory.huge_pages.total:
            enabled: true

      # Scraping traffic going in/out of network interfaces
      network:
        exclude:
          interfaces:
            - "^lo$"
            - "^docker.*$"
            - "^nomad$"
            - "^veth.*$"
          match_type: regexp
        metrics:
          system.network.connections:
            enabled: true
          system.network.dropped:
            enabled: true
          system.network.errors:
            enabled: true
          system.network.io:
            enabled: true
          system.network.packets:
            enabled: false
          system.network.conntrack.count:
            enabled: true
          system.network.conntrack.max:
            enabled: true

      # entirely disabled, so we omit the module
      #paging:
      #  metrics:
      #    system.paging.faults:
      #      enabled: false
      #    system.paging.operations:
      #      enabled: false
      #    system.paging.usage:
      #      enabled: false
      #    system.paging.utilization:
      #      enabled: false

      processes:
        metrics:
          system.processes.count:
            enabled: true
          system.processes.created:
            enabled: true

      # entirely disabled, so we omit the module
      #system:
      #  metrics:
      #    system.uptime:
      #      enabled: false

      # process:
      #   mute_process_all_errors: true
      #   metrics:
      #     process.cpu.time:
      #       enabled: false
      #     process.disk.io:
      #       enabled: false
      #     process.memory.usage:
      #       enabled: false
      #     process.memory.virtual:
      #       enabled: false
      #     process.context_switches:
      #       enabled: true
      #     process.cpu.utilization:
      #       enabled: false
      #     process.disk.operations:
      #       enabled: false
      #     process.handles:
      #       enabled: false
      #     process.memory.utilization:
      #       enabled: false
      #     process.open_file_descriptors:
      #       enabled: false
      #     process.paging.faults:
      #       enabled: false
      #     process.signals_pending:
      #       enabled: false
      #     process.threads:
      #       enabled: false
      #     process.uptime:
      #       enabled: false

processors:
  batch:
    timeout: 5s

  batch/clickhouse:
    timeout: 5s
    send_batch_size: 50000

  # keep only metrics that are used
  filter/otlp:
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/filterprocessor
    metrics:
      include:
        match_type: regexp
        metric_names:
          - "orchestrator.*"
          - "template.*"
          - "api.*"
          - "db.sql.connection.*"
          - "vault.*"
          - "client_proxy.*"
          - "Click*"
          - "otelcol.exporter.queue.capacity"
          - "otelcol.exporter.queue.size"
          - "otelcol.exporter.send.*"
          - "otelcol.exporter.sent.*"
          - "otelcol.receiver.refused.*"
          - "pgxpool.*"

  filter/only_client_allocs:
    metrics:
      include:
        match_type: regexp
        metric_names:
          - "^nomad_client_allocs_.*$"
          - "^nomad_client_allocated_.*$"
          - "^nomad_client_allocations_.*$"
          - "^nomad_client_unallocated_.*$"

  filter/external_metrics:
    metrics:
      include:
        match_type: regexp
        metric_names:
          - "e2b.*"

  metricstransform/single_cpu:
    transforms:
      - include: "system.cpu.time"
        match_type: strict
        action: update
        operations:
          - action: aggregate_labels
            label_set:
              - service.instance.id
              - state
              - deployment.environment
            aggregation_type: sum

      - include: "system.cpu.utilization"
        match_type: strict
        action: update
        operations:
          - action: aggregate_labels
            label_set:
              - service.instance.id
              - state
              - deployment.environment
            aggregation_type: sum
          - action: aggregate_label_values
            label: state
            aggregated_values: [user, system, nice]
            new_value: work
            aggregation_type: sum

          # irq = interrupt + softirq
          - action: aggregate_label_values
            label: state
            aggregated_values: [interrupt, softirq]
            new_value: irq
            aggregation_type: sum

          # blocked = wait (iowait)
          - action: aggregate_label_values
            label: state
            aggregated_values: [wait]
            new_value: blocked
            aggregation_type: sum


  resourcedetection:
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/processor/resourcedetectionprocessor
    detectors: [gcp]
    override: true
    gcp:
      resource_attributes:
        cloud.provider:
          enabled: false
        cloud.platform:
          enabled: false
        cloud.account.id:
          enabled: true
        cloud.availability_zone:
          enabled: false
        cloud.region:
          enabled: false
        host.type:
          enabled: false
        host.id:
          enabled: false
        host.name:
          enabled: true
        gcp.gce.instance.name:
          enabled: false
        gcp.gce.instance_group_manager.region:
          enabled: false
        gcp.gce.instance_group_manager.zone:
          enabled: false
        gcp.gce.instance_group_manager.name:
          enabled: false

  # For some reason, the metrics require us to set datapoint.attribute and won't accept the resource.attribute
  # That is why we can't use the resource/set_attributes processor
  transform/set-name:
    metric_statements:
      # We have to set the service instance here as it's necessary to set it as a datapoint attribute
      - set(datapoint.attributes["service.instance.id"], resource.attributes["host.name"])
      - set(datapoint.attributes["deployment.environment"], resource.attributes["cloud.account.id"])
      - delete_key(datapoint.attributes, "datacenter")
      - delete_key(datapoint.attributes, "instance")
      - delete_key(datapoint.attributes, "node_id")
      - delete_key(datapoint.attributes, "node_scheduling_eligibility")
      - delete_key(datapoint.attributes, "node_class")
      - delete_key(datapoint.attributes, "node_status")
      - delete_key(datapoint.attributes, "service_name")

  filter/rpc_duration_only:
    metrics:
      include:
        match_type: regexp
        # Include info about grpc server endpoint durations - used for monitoring request times
        metric_names:
          - "rpc.server.duration.*"

  resource/remove_instance:
    attributes:
      - action: delete
        key: service.instance.id

  resource/set_attributes:
    attributes:
      - key: deployment.environment
        from_attribute: cloud.account.id
        action: upsert
      - key: cloud.account.id
        action: delete
      - key: service.instance.id
        from_attribute: host.name
        action: upsert
      - key: host.name
        action: delete
      - key: internal
        action: delete
      - key: telemetry.sdk.language
        action: delete
      - key: telemetry.sdk.name
        action: delete
      - key: scope.name
        action: delete

extensions:
  basicauth/grafana_cloud:
    # https://github.com/open-telemetry/opentelemetry-collector-contrib/tree/main/extension/basicauthextension
    client_auth:
      username: "${grafana_username}"
      password: "${grafana_otel_collector_token}"

  health_check:
    endpoint: 0.0.0.0:13133
exporters:
  debug:
    verbosity: detailed
    use_internal_logger: false
  otlphttp/grafana_cloud:
    # https://github.com/open-telemetry/opentelemetry-collector/tree/main/exporter/otlpexporter
    endpoint: "${grafana_otlp_url}/otlp"
    auth:
      authenticator: basicauth/grafana_cloud
  clickhouse:
    endpoint: tcp://${clickhouse_host}:${clickhouse_port}
    database: ${clickhouse_database}
    username: ${clickhouse_username}
    password: ${clickhouse_password}
    async_insert: true
    create_schema: false
    metrics_tables:
      gauge:
        name: "metrics_gauge"
      sum:
        name: "metrics_sum"
service:
  telemetry:
    logs:
      level: warn
    metrics:
      readers:
        - periodic:
            exporter:
              otlp:
                protocol: grpc
                insecure: true
                endpoint: localhost:4317
  extensions:
    - basicauth/grafana_cloud
    - health_check
  pipelines:
    metrics:
      receivers:
        - otlp
      processors:
        - filter/otlp
        - resourcedetection
        - transform/set-name
        - batch
      exporters:
        - otlphttp/grafana_cloud
    metrics/prometheus:
      receivers:
        - prometheus
      processors:
        - filter/only_client_allocs
        - resourcedetection
        - transform/set-name
        - batch
      exporters:
        - otlphttp/grafana_cloud
    metrics/rpc_only:
      receivers:
        - otlp
      processors:
        - filter/rpc_duration_only
        - resource/remove_instance
        - resourcedetection
        - transform/set-name
        - batch
      exporters:
        - otlphttp/grafana_cloud
    metrics/host:
      receivers:
        - hostmetrics
      processors:
        - resourcedetection
        - transform/set-name
        - metricstransform/single_cpu
        - batch
      exporters:
        - otlphttp/grafana_cloud
    metrics/external:
      receivers:
        - otlp
      processors:
        - filter/external_metrics
        - batch/clickhouse
      exporters:
        - clickhouse
    traces:
      receivers:
        - otlp
      processors:
        - resourcedetection
        - resource/set_attributes
        - batch
      exporters:
        - otlphttp/grafana_cloud
    logs:
      receivers:
        - otlp
      processors:
        - resourcedetection
        - resource/set_attributes
        - batch
      exporters:
        - otlphttp/grafana_cloud
