openapi: 3.0.0
info:
  version: 0.1.0
  title: E2B Edge

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  responses:
    "400":
      description: Bad request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    "401":
      description: Authentication error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    "404":
      description: Not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    "409":
      description: Conflict
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    "500":
      description: Server error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"

  schemas:
    ClusterNodeInfo:
      required:
        - nodeID
        - serviceInstanceID
        - serviceVersion
        - serviceVersionCommit
        - serviceStartup
        - serviceStatus
      properties:
        nodeID:
          type: string
          description: Node ID
        serviceInstanceID:
          type: string
          description: Service ID
        serviceVersion:
          type: string
          description: Version of the service
        serviceVersionCommit:
          type: string
          description: Version of the service
        serviceStartup:
          type: string
          format: date-time
          description: Time when the node started
        serviceStatus:
          $ref: "#/components/schemas/ClusterNodeStatus"

    ClusterNode:
      required:
        - nodeID
        - serviceInstanceID
        - serviceVersion
        - serviceVersionCommit
        - serviceStartedAt
        - serviceType
        - serviceStatus
        - serviceHost
      properties:
        nodeID:
          type: string
          description: Node ID
        serviceInstanceID:
          type: string
          description: Service instance ID
        serviceVersion:
            type: string
            description: Version of the service
        serviceVersionCommit:
          type: string
          description: Source code version of the service
        serviceStartedAt:
          type: string
          format: date-time
          description: Time when the node was registered
        serviceType:
          $ref: "#/components/schemas/ClusterNodeType"
        serviceStatus:
          $ref: "#/components/schemas/ClusterNodeStatus"
        serviceHost:
          type: string
          description: Node private host address and service port

    ClusterNodeStatus:
      type: string
      description: State of the cluster node
      enum:
        - healthy
        - draining
        - unhealthy

    ClusterNodeType:
      type: string
      description: Cluster node type
      enum:
        - orchestrator
        - edge

    ClusterOrchestratorRole:
      type: string
      description: Capability of the orchestrator
      enum:
        - orchestrator
        - template-builder

    ClusterOrchestratorNode:
      required:
        - nodeID
        - serviceInstanceID
        - serviceVersion
        - serviceVersionCommit
        - serviceStartedAt
        - serviceHost
        - serviceStatus
        - roles
        - metricVCpuUsed
        - metricRamMBUsed
        - metricDiskMBUsed
        - metricSandboxesRunning

      properties:
        nodeID:
          type: string
          description: Node ID
        serviceInstanceID:
          type: string
          description: Service instance ID
        serviceVersion:
          type: string
          description: Service Version
        serviceVersionCommit:
          type: string
          description: Service Version
        serviceHost:
          type: string
          description: Node private host address and service port
        serviceStartedAt:
          type: string
          format: date-time
          description: Time when the node was registered
        serviceStatus:
          $ref: "#/components/schemas/ClusterNodeStatus"
        roles:
          type: array
          items:
            $ref: '#/components/schemas/ClusterOrchestratorRole'
        metricVCpuUsed:
          type: integer
          format: int64
          description: Number of vCPUs currently in use
        metricRamMBUsed:
          type: integer
          format: int64
          description: Amount of RAM currently used in MB
        metricDiskMBUsed:
          type: integer
          format: int64
          description: Amount of disk space currently used in MB
        metricSandboxesRunning:
          type: integer
          format: int64
          description: Amount of disk space currently used in MB

    Error:
      required:
        - code
        - message
      properties:
        code:
          type: integer
          format: int32
          description: Error code
        message:
          type: string
          description: Error

    TemplateBuildLogsResponse:
      required:
        - logs
      properties:
        logs:
          default: []
          description: Build logs
          type: array
          items:
            type: string

    SandboxCreateCatalogRequest:
      type: object
      required:
        - orchestratorID
        - executionID
        - sandboxID
        - sandboxMaxLength
        - sandboxStartTime
      properties:
        orchestratorID:
          type: string
          description: Orchestrator where the sandbox is placed
        executionID:
          type: string
        sandboxID:
          type: string
        sandboxMaxLength:
          type: integer
          format: int64
          description: Maximum duration in hours
        sandboxStartTime:
           $ref: '#/components/schemas/Timestamp'

    SandboxDeleteCatalogRequest:
      type: object
      required:
        - executionID
        - sandboxID
      properties:
        executionID:
          type: string
        sandboxID:
          type: string

    Timestamp:
      type: string
      format: date-time

tags:
  - name: service-discovery
  - name: sandboxes

paths:
  /health:
    get:
      operationId: healthCheck
      description: Health check
      responses:
        "200":
          description: Request was successful

  /health/traffic:
    get:
      operationId: healthCheckTraffic
      description: Health check for traffic proxy
      responses:
        "200":
          description: Request was successful

  /health/machine:
    get:
      operationId: healthCheckMachine
      description: Health check for machine status
      responses:
        "200":
          description: Request was successful

  /v1/info:
    get:
        operationId: v1Info
        description: Edge service information
        responses:
          "200":
            description: Successfully returned node information
            content:
              application/json:
                schema:
                  $ref: "#/components/schemas/ClusterNodeInfo"
          "401":
            $ref: "#/components/responses/401"
          "500":
            $ref: "#/components/responses/500"

  /v1/service-discovery/nodes:
    get:
        operationId: v1ServiceDiscoveryNodes
        description: Get the service discovery information
        security:
          - ApiKeyAuth: [ ]
        tags: [service-discovery]
        responses:
          "200":
            description: Successfully returned all cluster nodes
            content:
              application/json:
                schema:
                  type: array
                  items:
                    allOf:
                      - $ref: "#/components/schemas/ClusterNode"
          "401":
            $ref: "#/components/responses/401"
          "500":
            $ref: "#/components/responses/500"

  /v1/service-discovery/nodes/{serviceInstanceID}/drain:
    post:
      operationId: v1ServiceDiscoveryNodeDrain
      description: Mark service places on node as draining
      security:
        - ApiKeyAuth: [ ]
      tags: [service-discovery]
      parameters:
        - name: serviceInstanceID
          in: path
          required: true
          description: Service instance ID
          schema:
            type: string
      responses:
        "200":
          description: Successfully start of node draining
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /v1/service-discovery/nodes/{serviceInstanceID}/kill:
    post:
      operationId: v1ServiceDiscoveryNodeKill
      description: Kill the node
      security:
        - ApiKeyAuth: [ ]
      tags: [service-discovery]
      parameters:
        - name: serviceInstanceID
          in: path
          required: true
          description: Service instance ID
          schema:
            type: string
      responses:
        "200":
          description: Successfully start of node kill
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "404":
          $ref: "#/components/responses/404"
        "500":
          $ref: "#/components/responses/500"

  /v1/service-discovery/nodes/orchestrators:
    get:
      operationId: v1ServiceDiscoveryGetOrchestrators
      summary: Get the orchestrators
      security:
        - ApiKeyAuth: [ ]
      tags: [service-discovery]
      responses:
        "200":
          description: Successfully returned all orchestrators
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/ClusterOrchestratorNode"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"

  /v1/sandboxes/catalog:
    post:
      operationId: v1SandboxCatalogCreate
      summary: Create a sandbox catalog entry
      security:
        - ApiKeyAuth: [ ]
      tags: [sandboxes]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SandboxCreateCatalogRequest"
      responses:
        "200":
          description: Successfully created the sandbox catalog entry
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"

    delete:
        operationId: v1SandboxCatalogDelete
        summary: Delete a sandbox catalog entry
        security:
            - ApiKeyAuth: [ ]
        tags: [sandboxes]
        requestBody:
          required: true
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SandboxDeleteCatalogRequest"
        responses:
          "200":
            description: Successfully deleted the sandbox catalog entry
          "400":
            $ref: "#/components/responses/400"
          "401":
            $ref: "#/components/responses/401"
          "500":
            $ref: "#/components/responses/500"

  /v1/templates/builds/{buildID}/logs:
    get:
      operationId: v1TemplateBuildLogs
      summary: Template build logs
      security:
        - ApiKeyAuth: [ ]
      tags: [templates]
      parameters:
        - name: buildID
          in: path
          required: true
          schema:
            type: string
        - in: query
          name: orchestratorID
          required: true
          schema:
            type: string
        - in: query
          name: templateID
          required: true
          schema:
            type: string
        - in: query
          name: offset
          schema:
            default: 0
            type: integer
            format: int32
            minimum: 0
          description: Index of the starting build log that should be returned with the template
      responses:
        "200":
          description: Successfully returned the template build logs
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TemplateBuildLogsResponse"
        "400":
          $ref: "#/components/responses/400"
        "401":
          $ref: "#/components/responses/401"
        "500":
          $ref: "#/components/responses/500"
