name: Deploy Staging Jobs

on:
  workflow_dispatch:
    inputs:
      commit_sha:
        description: 'Specific commit SHA to checkout'
        required: true
        type: string

concurrency:
  group: deploy-staging
  cancel-in-progress: false

jobs:
  deploy:
    name: Deploy remaining jobs to the staging environment
    runs-on: ubuntu-22.04
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.commit_sha }}

      - name: Setup environment
        uses: ./.github/actions/deploy-setup-staging
        with:
          postgres_connection_string: ${{ secrets.STAGING_POSTGRES_CONNECTION_STRING }}

      - name: Deploy remaining jobs
        run: |
          make plan-only-jobs
          make apply
        
