name: Integration Tests

on: [workflow_call]

jobs:
  integration_tests:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Packages
        uses: ./.github/actions/build-packages

      - name: Initialize Host
        uses: ./.github/actions/host-init

      - name: Build Template
        uses: ./.github/actions/build-sandbox-template

      - name: Start Services
        uses: ./.github/actions/start-services

      - name: Run Integration Tests
        env:
          TESTS_API_SERVER_URL: "http://localhost:3000"
          TESTS_ORCHESTRATOR_HOST: "localhost:5008"
        run: |
          # Monitor logs of the services
          ls -l ~/logs
          tail -f ~/logs/orchestrator.log -n 0 &
          tail -f ~/logs/api.log -n 0 &

      - uses: nick-fields/retry@v3
        with:
          timeout_minutes: 60
          max_attempts: 3
          retry_on: error
          # Run the integration tests
          command: make test-integration
