name: Periodic Tests

on:
  schedule:
    # every hour on hour 38
    # 38 to avoid peak traffic
    - cron: '*/15 * * * *'
  workflow_dispatch:
  # only run on changes to periodic-test dir 
  push:
    paths:
      - 'tests/periodic-test/**'
      - '.github/workflows/periodic-test.yml'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

permissions:
  contents: read

jobs:
  changes:
    name: Repository changes
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        e2b-domain: # each domain is a different cluster 
          # - "e2b-robert.dev"
          - "e2b-foxtrot.dev"
        test-command:
          - command: "tests/periodic-test/run-code.ts"
            name: "Run Code Tests"
          - command: "index.ts"
            name: "build and delete template"
            dir: "tests/periodic-test/build-template/"
          - command: "tests/periodic-test/snapshot-and-resume.ts"
            name: "snapshot and resume"
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Install deno
        uses: denoland/setup-deno@v1

      - name: GitHub Action for npx
        uses: mikeal/npx@1.0.0

      # workaround for not being able to use secrets in matrix
      # each cluster has a different api key
      - name: Set API Key
        id: set-api-key
        run: |
          if [ "${{ matrix.e2b-domain }}" == "e2b-robert.dev" ]; then
            echo "api_key=${{ secrets.E2B_API_KEY_ROBERT }}" >> $GITHUB_OUTPUT
          else
            echo "api_key=${{ secrets.E2B_API_KEY }}" >> $GITHUB_OUTPUT
          fi

      - name: ${{ matrix.test-command.name }}
        run: deno run --allow-all ${{ matrix.test-command.command }}
        working-directory: ${{ matrix.test-command.dir }}
        env:
          E2B_API_KEY: ${{ steps.set-api-key.outputs.api_key }}
          E2B_ACCESS_TOKEN: ${{ secrets.E2B_ACCESS_TOKEN }}
          E2B_DOMAIN: ${{ matrix.e2b-domain }}

      - name: Periodic check failed - Slack Notification
        uses: rtCamp/action-slack-notify@v2
        if: failure() && github.ref == 'refs/heads/main'
        env:
          SLACK_COLOR: "#ff0000"
          # $name failed $link to workflow run
          SLACK_MESSAGE: "${{ matrix.test-command.name }} failed, ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
          SLACK_TITLE: "Periodic check failed"
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          # use this channel for dev
          # SLACK_CHANNEL: C08F4DXJA00  

