name: Run tests on PRs

on: [workflow_call]

permissions:
  contents: read

jobs:
  run-tests:
    name: Run tests for ${{ matrix.package }}
    runs-on: infra-tests
    strategy:
      matrix:
        include:
          - package: packages/api
            test_path: ./...
            sudo: false
          - package: packages/client-proxy
            test_path: ./...
            sudo: false
          - package: packages/db
            test_path: ./...
            sudo: false
          - package: packages/docker-reverse-proxy
            test_path: ./...
            sudo: false
          - package: packages/envd
            test_path: ./...
            sudo: true
          - package: packages/orchestrator
            test_path: ./...
            sudo: true
          - package: packages/shared
            test_path: ./pkg/...
            sudo: false
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.commit_sha }}

      - name: Setup Go
        uses: ./.github/actions/go-setup-cache
        with:
          cache-dependency-paths: |
            go.work
            ${{ matrix.package }}/go.mod
            ${{ matrix.package }}/go.sum

      - name: Setup envd tests
        run: |
          # Install bindfs for FUSE mount tests
          sudo apt-get update && sudo apt-get install -y bindfs
        if: matrix.package == 'packages/envd'

      - name: Setup orchestrator tests
        run: |
          # Enable unprivileged uffd mode
          echo 1 | sudo tee /proc/sys/vm/unprivileged_userfaultfd

          # Enable hugepages
          sudo mkdir -p /mnt/hugepages
          sudo mount -t hugetlbfs none /mnt/hugepages
          echo 2000 | sudo tee /proc/sys/vm/nr_hugepages

          # Enable NBD
          sudo modprobe nbd nbds_max=256

          # Disable inotify watching of change events for NBD devices
          echo 'ACTION=="add|change", KERNEL=="nbd*", OPTIONS:="nowatch"' | sudo tee /etc/udev/rules.d/97-nbd-device.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger

        if: matrix.package == 'packages/orchestrator'

      - name: Run tests that require sudo
        working-directory: ${{ matrix.package }}
        run: |
          # Run tests. The '-E' flag is required to allow root to use the correct cache path.
          sudo -E `which go` test -v ${{ matrix.test_path }}
        if: matrix.sudo == true

      - name: Run tests
        working-directory: ${{ matrix.package }}
        run: go test -v ${{ matrix.test_path }}
        if: matrix.sudo == false

  validate-iac:
    name: Validate terraform
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Parse .tool-versions
        uses: wistia/parse-tool-versions@v2.1.1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "${{ env.TERRAFORM }}"

      - name: Validate terraform
        working-directory: ./iac/provider-gcp
        run: |
          terraform init -backend=false
          terraform validate
