name: Run tests on PRs

on: [workflow_call]

jobs:
  run-tests:
    name: Run tests for ${{ matrix.package }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - package: packages/api
            test_path: ./...
          - package: packages/client-proxy
            test_path: ./...
          - package: packages/docker-reverse-proxy
            test_path: ./...
          - package: packages/envd
            test_path: ./...
          - package: packages/orchestrator
            test_path: ./...
          - package: packages/shared
            test_path: ./pkg/...
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.commit_sha }}

      - name: Setup Go
        uses: ./.github/actions/go-setup-cache

      - name: Run tests
        working-directory: ${{ matrix.package }}
        run: go test -v ${{ matrix.test_path }}
