name: Run tests on PRs

on: [workflow_call]

permissions:
  contents: read

jobs:
  run-tests:
    name: Run tests for ${{ matrix.package }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - package: packages/api
            test_path: ./...
          - package: packages/client-proxy
            test_path: ./...
          - package: packages/docker-reverse-proxy
            test_path: ./...
          - package: packages/envd
            test_path: ./...
          - package: packages/orchestrator
            test_path: ./...
          - package: packages/shared
            test_path: ./pkg/...
      fail-fast: false
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.commit_sha }}

      - name: Setup Go
        uses: ./.github/actions/go-setup-cache
        with:
          job_key: unit-tests-${{ matrix.package }}

      - name: Enable unprivileged uffd mode
        run: |
          echo 1 | sudo tee /proc/sys/vm/unprivileged_userfaultfd

      - name: Enable hugepages
        run: |
          sudo mkdir -p /mnt/hugepages
          sudo mount -t hugetlbfs none /mnt/hugepages
          echo 128 | sudo tee /proc/sys/vm/nr_hugepages

      - name: Run tests
        working-directory: ${{ matrix.package }}
        run: go test -v ${{ matrix.test_path }}

  validate-iac:
    name: Validate terraform
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Parse .tool-versions
        uses: wistia/parse-tool-versions@v2.1.1

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: "${{ env.TERRAFORM }}"

      - name: Validate terraform
        working-directory: ./iac/provider-gcp
        run: |
          terraform init -backend=false
          terraform validate
